body {
  margin: 0;
  color: #ffffff;
  background: hsla(223, 36%, 18%, 1);
  font-family: 'Montserrat', monospace;
  font-weight: bold;
}

*,
:after,
:before {
  box-sizing: border-box
}

iconify-icon{
  color: white;
  font-size: 32px;
  &:hover{
    color: #009dff;
  }
}


