iconify-icon {
  color: white;
  font-size: 32px;
}
iconify-icon:hover {
  color: #009dff;
}

/* width */
::-webkit-scrollbar {
  height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(224deg, 33%, 22%);
  border-radius: 10px;
  border: white solid 2px;
}

p {
  margin: 0;
}

body {
  margin: 0;
  color: #ffffff;
  background: hsl(223deg, 36%, 18%);
  font-family: "Montserrat", monospace;
  font-weight: bold;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.footer button {
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: #DF00FF;
}

header {
  justify-content: space-around;
  background: hsl(223deg, 36%, 18%);
  z-index: 12;
  width: 150px;
  border-right: hsl(224deg, 33%, 22%) 2px solid;
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
header button {
  border: none;
  background: hsl(223deg, 36%, 18%);
}
header button .disconect {
  color: white;
  font-size: 35px;
}
header button .disconect:hover {
  color: #009dff;
}
header .logo {
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
}
header .logo div {
  border-radius: 90px;
  margin-bottom: 20px;
  background-color: hsl(224deg, 33%, 22%);
  width: 50px;
  height: 50px;
}
header .logo h1 {
  margin: 0px;
  font-size: 15px;
}
header .album-list {
  border-radius: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: hsl(224deg, 33%, 22%);
  border: hsl(224deg, 33%, 22%) solid 4px;
}
header .album-list .album-logo {
  text-align: center;
  width: 35px;
  height: 35px;
  background: hsl(223deg, 36%, 18%);
  border-radius: 90px;
}

main {
  margin-left: 180px;
}

#new {
  display: flex;
  justify-content: right;
  height: 450px;
  width: 100%;
}
#new h1 {
  top: 4px;
  right: 4px;
  position: absolute;
}
#new img {
  width: 80%;
  height: auto;
  object-fit: cover;
  border-radius: 0px 0px 0px 90px;
  opacity: 89;
  display: flex;
  justify-content: right;
}

#card {
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  gap: 15px;
  height: 250px;
}
#card section {
  width: 271px;
  display: flex;
  flex-direction: column;
}
#card section img {
  width: 271px;
  height: 170px;
  object-fit: cover;
  object-position: top;
  border-radius: 15px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}
#card section p {
  height: 19px;
  margin: 0;
}

#discover {
  width: 100%;
  align-items: center;
  overflow-x: scroll;
  gap: 15px;
}
#discover section {
  width: 271px;
}
#discover section img {
  width: 271px;
  height: 170px;
  object-fit: cover;
  object-position: top;
  border-radius: 15px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}
#discover section p {
  height: 19px;
  margin: 0;
}

#tendances {
  width: 100%;
  align-items: center;
  overflow-x: scroll;
  gap: 15px;
}
#tendances section {
  width: 271px;
  flex-direction: column-reverse;
}
#tendances section img {
  width: 271px;
  height: 170px;
  object-fit: cover;
  object-position: top;
  border-radius: 15px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}
#tendances section p {
  height: 19px;
  margin: 0;
}

.sertch {
  background-color: hsl(224deg, 33%, 22%);
}

.categorie {
  color: white;
}
.categorie button {
  background-color: hsl(224deg, 33%, 22%);
  border: white solid 2px;
  border-radius: 10px;
  color: white;
}
.categorie button:hover {
  color: #009dff;
  color: #009dff;
  border: #009dff solid 2px;
}

/*album*/

/*# sourceMappingURL=style.css.map */
