
iconify-icon{
  color: white;
  font-size: 32px;
  &:hover{
    color: #009dff;
  }
}


/* width */
::-webkit-scrollbar {

  height: 10px;
}



/* Handle */
::-webkit-scrollbar-thumb {
  background: hsla(224, 33%, 22%, 1);
  border-radius: 10px;
  border: white solid 2px;
}




p{
  margin: 0;
}

body {
  margin: 0;
  color: #ffffff;
  background: hsla(223, 36%, 18%, 1);
  font-family: 'Montserrat', monospace;
  font-weight: bold;
}

*,
:after,
:before {
  box-sizing: border-box
}





.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  button{
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: #DF00FF;
  }
}


header{

  justify-content: space-around;
  background: hsla(223, 36%, 18%, 1);
  z-index: 12;
  width: 150px;
  border-right: hsla(224, 33%, 22%, 1) 2px solid ;
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;



  button{
    border: none;
    background: hsla(223, 36%, 18%, 1);
    .disconect{
      color: white;
      font-size: 35px;

      &:hover{
        color: #009dff;
      }
    }
  }










  .logo{
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    div{
      border-radius: 90px;
      margin-bottom: 20px;
      background-color:hsla(224, 33%, 22%, 1) ;
      width: 50px;
      height: 50px;
    }


    h1{
      margin: 0px;
      font-size: 15px;
    }
  }


  .album-list{
    border-radius: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color:hsla(224, 33%, 22%, 1) ;
    border:hsla(224, 33%, 22%, 1) solid 4px ;

    .album-logo{
      text-align: center;
      width: 35px;
      height: 35px;
      background: hsla(223, 36%, 18%, 1);
      border-radius: 90px;

    }

  }
}

main{

  margin-left: 180px;
}


#new{
  display: flex;
  justify-content: right;
  height: 450px;
  width: 100%;
  h1{
    top: 4px;
    right: 4px;
    position: absolute;


  }
  img{
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 0px 0px 0px 90px;
    opacity: 89;
    display: flex;
    justify-content: right;

  }

}

#card{
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  gap: 15px;
  height: 250px;
 section{

   width: 271px;
   display: flex;
   flex-direction: column;
   img{
     width: 271px;
     height: 170px;
     object-fit: cover;
     object-position: top;
     border-radius: 15px;
     box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24);


     }

     
   p{
     height: 19px;
     margin: 0;
   }
 }
}




#discover{
  width: 100%;
  align-items: center;
  overflow-x: scroll;
  gap: 15px;
  section{

    width: 271px;


    img{
      width: 271px;
      height: 170px;
      object-fit: cover;
      object-position: top;
      border-radius: 15px;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24);


    }


    p{
      height: 19px;
      margin: 0;
    }
  }
}


#tendances{
  width: 100%;
  align-items: center;
  overflow-x: scroll;
  gap: 15px;
  section{

    width: 271px;
    flex-direction: column-reverse;
    img{
      width: 271px;
      height: 170px;
      object-fit: cover;
      object-position: top;
      border-radius: 15px;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24);


    }


    p{
      height: 19px;
      margin: 0;
    }
  }
}
.sertch{
  background-color:hsla(224, 33%, 22%, 1) ;
}


.categorie{
  color: white;
  button{
    background-color:hsla(224, 33%, 22%, 1) ;
    border: white solid 2px;
    border-radius: 10px;
    color: white;
    &:hover{
      color: #009dff;
      color:#009dff;
      border: #009dff solid 2px;
    }
  }
}




/*album*/












