section{
    height: 200px;
    width: auto;
}

img{
    height: 150px;
}

#discover{
    flex-direction: column;
}

#tendances{
    flex-direction: column;
}

#result{
    flex-direction: column;
}

#submenu{
    background-color: aqua;
}

#publiqueAlbum{
    display: none;
    flex-direction: column;
}

.test{
    background-color: red;
}